.startBtn {
  width: 100%;
  background: #3e8ed0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.startBtn:hover,
.addBtn:hover {
  background: #fff;
  color: #3e8ed0;
  outline: 1px solid #3e8ed0;
}

.addBtn {
  background: #3e8ed0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1rem;
}

.timer {
  color: #00d1b2;
}

.accuracy {
  color: #3e8ed0;
}

.wpm {
  color: #00d1b2;
}
